* {
  font-family: var(--font-arial-narrow), Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(180deg, #DEEBF9 0%, #FFF 50%, #BDD6F2 100%);
  display: flex;
  gap: 1rem;
  height: calc(100vh - 4rem);
  padding: 2rem;
}

main{
  border-radius: 0.625rem 0.625rem 0 0;
  outline: 1px solid #9FA4B3;
  background: #FFF;
  height: calc(100% - 8rem);
  padding: 4rem;
  width: 100%;
}
