* {
  font-family: var(--font-arial-narrow), Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  background: linear-gradient(180deg, #DEEBF9 0%, #FFF 50%, #BDD6F2 100%);
  display: flex;
  gap: 1rem;
  height: calc(100vh - 4rem);
  padding: 2rem;
}

