* {
  font-family: var(--font-arial-narrow), Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  background: linear-gradient(180deg, #DEEBF9 0%, #FFF 50%, #BDD6F2 100%);
  display: flex;
  gap: 1rem;
  height: 100vh;
  padding: 2rem;
}

@media (max-width: 1280px){
  body{
    flex-direction: column;
    gap: 0.5rem;
    height: 100vh;
    padding: 0.75rem;
  }
}

