.main{
  border-radius: 0.625rem 0.625rem 0 0;
  outline: 1px solid #9FA4B3;
  background: #ff0000;
  height: 100%;
  padding: 4rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.alert_a{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 44px;
  letter-spacing: -0.1rem;
  position: relative;
  z-index: 1;
}

.alert_b{
    font-family: 'Times New Roman', Times, serif;
    font-size: 144px;
    font-weight: 404;
    letter-spacing: -0.1rem;
    line-height: 0.5;
    position: absolute;
    text-decoration: none;
    top: 666px;
    transform: scaleY(13);
    z-index: 0;
}

.mascot{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  height: auto;
}

@media (max-width: 1000px){
  .main{
    border-radius: 0.625rem;
    height: 100%;
    padding: 3.5rem 1rem 1rem;
  }

  .alert_a{
    font-size: 28px;
  }

  .alert_b{
    font-size: 80px;
    top: 22rem;
  }

  .mascot{
    max-width: 70%;
  }
}