.images{
    display: flex;
    gap: 2rem;
    height: 42rem;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight: 400;
    letter-spacing: -0.1rem;
    line-height: 1;
    text-decoration: none;
    transform: scaleY(5);
}

.title_wrapper{
    align-items: center;
    display: flex;
    height: 12rem;    
    justify-content: center;
    width: fit-content;
}
