.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.1rem;
    line-height: 1;
    text-decoration: none;
    transform: scaleY(5);
}

.header{
    align-items: center;
    background: linear-gradient(180deg, #FFF 0%, #BDD6F2 25%, #F5F6FD 54.81%, #CCDBEF 75%, #E8EFFD 100%);
    border-radius: 1.25rem;
    border: 1px solid #9FA4B3;
    display: flex;
    height: 4rem;    
    justify-content: center;
    margin: 0 0 0.25rem;
    overflow: visible; 
    padding: 2rem 14rem 3rem 1rem;       
    width: fit-content;
}